<h1>Listing client_sessions</h1>

<table>
  <tr>
    <th>Client</th>
    <th>Therapist</th>
    <th>Notes</th>
    <th>Visit dt</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @client_sessions.each do |client_session| %>
  <tr>
    <td><%= client_session.client_id %></td>
    <td><%= client_session.therapist_id %></td>
    <td><%= client_session.notes %></td>
    <td><%= client_session.visit_dt %></td>
    <td><%= link_to 'Show', client_session %></td>
    <td><%= link_to 'Edit', edit_client_session_path(client_session) %></td>
    <td><%= link_to 'Destroy', client_session, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client session', new_client_session_path %>
