<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @client.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @client.last_name %>
</p>

<p>
  <b>Added by therapist:</b>
  <%= @client.added_by_therapist %>
</p>

<p>
  <b>Email:</b>
  <%= @client.email %>
</p>

<p>
  <b>Username:</b>
  <%= @client.username %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
